html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body { margin: 0; padding: 0; background-color: #fff; }

#content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.render-view {
	display: inline;
	flex: 1 100%;
}

.render-view canvas {
	margin: 0 auto;
}

button {
	font-size: 16px;
	background-color: #bada55;
	padding: 0.3em 0.6em;
	border: 0;
	border-radius: 0.4em;
	cursor: pointer;
}